[submodule "vendor/Crow"]
	path = vendor/Crow
	url = git@github.com:CrowCpp/Crow.git
[submodule "vendor/asio"]
	path = vendor/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "vendor/nlohmann"]
	path = vendor/nlohmann
	url = git@github.com:nlohmann/json.git
